body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5c6c7;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #c5c6c7;
}

#navbar {
    position: fixed;
    float: left;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1f2833;
    color: #c5c6c7;
}

#navbar header {
    margin: 5%;
}

#js-icon {
    display: inline;
    height: 1.1em;
    filter: invert(100%);
}

#navbar header h2 {
    display: inline;
}

.nav-link {
    padding: 4%;
    font-size: 18px;
    border: thin solid #0b0c10;
    border-top: none;
}

#intro {
    border-top: thin solid #0b0c10;
}

#main-doc {
    float: right;
    width: 72%;
    padding: 3%;
    padding-top: 0%;
    text-align: justify;
}

#back {
    display: none;
}

@media (max-width: 640px) {
    #navbar {
        position: relative;
        float: none;
        flex-direction: row;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #navbar header {
        width: 98%;
        text-align: center;
    }
    .nav-link {
        padding: 1.5%;
        margin: 0px;
        font-size: 16px;
        border: none;
    }
    #intro {
        border: none;
    }
    #main-doc {
        float: none;
        width: 94%;
    }
    #back {
        display: block;
        position: fixed;
        top: 90vh;
        left: 87vw;
        width: 30px;
        height: 30px;
        background-color: rgba(31, 40, 51, 0.3);
        border-radius: 50%;
        padding: 2%;
    }
}