body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5c6c7;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #c5c6c7;
}

#navbar {
    position: fixed;
    float: left;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1f2833;
    color: #c5c6c7;
}

#navbar header {
    margin: 5%;
}

#js-icon {
    display: inline;
    height: 1.1em;
    filter: invert(100%);
}

#navbar header h2 {
    display: inline;
}

.nav-link {
    padding: 4%;
    font-size: 18px;
    border: thin solid #0b0c10;
    border-top: none;
}

#intro {
    border-top: thin solid #0b0c10;
}

#main-doc {
    float: right;
    width: 72%;
    padding: 3%;
    padding-top: 0%;
    text-align: justify;
}

@media (max-width: 540px) {
    #navbar {
        float: none;
    }
    #main-doc {
        float: none;
    }
}